body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.upper {
    display: flex;
    padding: 80px;
}

.description h1,
.description p {
    color: #576F72;
}

.description h1 {
    font-size: 70px;
    font-weight: bolder;
    text-align: left;
}

.color-name {
    color: orangered;
}

.description p {
    font-size: 25px;
    margin-bottom: 100px;
    text-align: left;
}

.btn-a {

    background-image: linear-gradient(#F15412, #FFB562);
    padding: 25px 50px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50px;
    color: whitesmoke;
    font-weight: bold;
}



.recipies h2,
.recipies p {
    text-align: center;
}


.recipies h2 {
    font-size: 50px;
    color: #576F72;
}

.recipies p {
    font-size: 20px;
    color: black;
}

.chokolates {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    padding: .5% 15%;
    margin-bottom: 60px;
}

.card {
    width: 40%;
    box-shadow: 12px 12px 20px 20px rgba(0, 0, 0, 0.2);
    padding: 4% 4%;
    border-radius: 10%;
}

.card img {
    width: 100%;
}

.card h3 {
    font-size: 40px;
}

.card p {
    text-align: left;
}

.social {
    display: flex;
    width: 80%;
    justify-content: space-around;
    border-radius: 10px;
    padding: 0 auto;
    box-shadow: 12px 12px 20px 20px rgba(0, 0, 0, 0.2);
    margin: 200px auto;
}

.social a {
    display: block;
    text-decoration: none;
    color: black;
    padding-bottom: 60px;
}

.social h1 {
    padding-top: 60px;
    font-size: 70px;
    margin: 0;
}

footer {
    background: #2C3639;
    text-align: center;
    padding: 30px 0;
}

footer h2 {
    font-size: 50px;
}

footer p {
    font-size: 20px;
    color: whitesmoke;
}

.about {
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.about-us {
    display: flex;
    justify-content: space-evenly;
    margin-left: 300px;
}

.half-width img {
    width: 80%;
    height: 100%;
}

.half-width {
    margin-top: 60px;
}

.half-width h2 {
    margin-top: 100px;
    color: #2C3639;
    font-size: 50px;
}

.half-width h2,
.half-width p,
.half-width a {
    margin-left: 250px;
}

.half-width p {
    font-size: 20px;
    margin-bottom: 60px;
}